<%- include('../layout/userLayouts/header.ejs') %>
<%- include('../layout/userLayouts/nav.ejs') %>

 <div class="main">
    <section class="page-body p-0">
      <div class="row g-0 ratio_asos">
        <div class="order-2 order-lg-1 col-lg-5">
          <div class="content-box">
            <div>
              <h5>FORGOT PASSWORD <span class="bg-theme-blue"></span></h5>
              <p class="font-md content-color"></p>

              <form action="" class="custom-form form-pill" method="post">
                <div class="input-box">
                  <label for="email">Email</label>
                  <input class="form-control" type="email" required="" name="email" id="email">
                </div>

                <button type="submit" class="btn-solid rounded-pill line-none">Send Otp <i class="arrow"></i></button>
                <% 

              if(typeof message1 !== 'undefined' ){
                
                %>
                  <div class="alert alert-danger" role="alert">
                    <%= message1 %>
                  </div>
      
                <% 
      
              }
            %>
              </form>
              <br>
              <form action="/verifyForgot" class="custom-form form-pill" method="post">
                <div class="form-group pt-5">
                <label for="singin-email-2 ">OTP *</label>
                <input type="text" class="form-control" id="singin-email-2" name="otp" required>
              </div>

                <button type="submit" class="btn-solid rounded-pill line-none">Submit Otp <i class="arrow"></i></button>
                
                                  <% 

                  if(typeof message2 !== 'undefined' ){
                    
                    %>
                      <div class="alert alert-danger" role="alert">
                        <%= message2 %>
                      </div>

                    <% 

                  }
                  %>
                </form>
                <h4>don't have an account</h4>
              <a href="/registration" class="backto-link font-default theme-color">Sign up</a>
            </div>
            
          </div>
          
        </div>
        <div class="order-1 order-lg-2 col-lg-7">
          <div class="img-box">
            <img class="bg-img" src="/userAssets/images/inner-page/banner.jpg" alt="banner">
          </div>
        </div>
      </div>
    </section>
  </div> -->

 
  <%- include('../layout/userLayouts/footer.ejs') %>
