
<%- include('../layout/userLayouts/header.ejs') %>
<%- include('../layout/userLayouts/nav.ejs') %>

<!-- Main Start -->
<main class="main">
  <!-- Breadcrumb Start -->
 
      <!-- Product Section Start -->
      <section class="product-page">
        <div class="container-lg">
          <div class="row g-3 g-xl-4 view-product">
            <div class="col-md-7">
              <div class="slider-box sticky off-50 position-sticky">
                <div class="row g-2">
                  <div class="col-2">
                    <div class="thumbnail-box">
                      <div class="swiper thumbnail-img-box thumbnailSlider2">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="/adminAssets/adminImages/<%= product.image[0] %>" alt="img">
                          </div>

                          <div class="swiper-slide">
                            <img src="/adminAssets/adminImages/<%= product.image[1] %>" alt="img">
                          </div>

                          <div class="swiper-slide">
                            <img src="/adminAssets/adminImages/<%= product.image[2] %>" alt="img">
                          </div>

                          <div class="swiper-slide">
                            <img src="/adminAssets/adminImages/<%= product.image[3] %>" alt="img">
                          </div>

                          <div class="swiper-slide">
                            <img src="/adminAssets/adminImages/<%= product.image[0] %>" alt="img">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-10 ratio_square">
                    <div class="swiper mainslider2">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img class="bg-img" src="/adminAssets/adminImages/<%= product.image[0] %>" alt="img">
                        </div>

                        <div class="swiper-slide">
                          <img class="bg-img" src="/adminAssets/adminImages/<%= product.image[1] %>" alt="img">
                        </div>

                        <div class="swiper-slide">
                          <img class="bg-img" src="/adminAssets/adminImages/<%= product.image[2] %>" alt="img">
                        </div>

                        <div class="swiper-slide">
                          <img class="bg-img" src="/adminAssets/adminImages/<%= product.image[3] %>" alt="img">
                        </div>

                        <div class="swiper-slide">
                          <img class="bg-img" src="/adminAssets/adminImages/<%= product.image[0] %>" alt="img">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="product-detail-box">
                <div class="product-option">
                  <h2><%= product.product_title %></h2>
                  <!-- <div class="option rating-option">
                    <ul class="rating p-0">
                      <li>
                        <i class="fill" data-feather="star"></i>
                      </li>
                      <li>
                        <i class="fill" data-feather="star"></i>
                      </li>
                      <li>
                        <i class="fill" data-feather="star"></i>
                      </li>
                      <li>
                        <i class="fill" data-feather="star"></i>
                      </li>
                      <li>
                        <i data-feather="star"></i>
                      </li>
                    </ul>
                    <span></span>
                  </div> -->
                  <% if(product.offer){ %>
                    <h1><del class="text-danger"> <p><%=product.product_price %></p></del></h1>
                    <p> <%=product.product_price -  product.offer.offPrice %> </p>


                  <% }else{  %>

                 <h2> <div class="option price"><span>₹<%= product.product_price %> </span> <del></del></div></h2>
                  <%  }  %>
                  <div class="option">
                    <p class="content-color">
                      <%= product.description %>
                    </p>
                  </div>

                  

                  <!-- <div class="option size">
                    <div class="title-box4">
                      <h4 class="heading">Size: <span class="bg-theme-blue"></span></h4>
                      <span class="size-chart" data-bs-toggle="modal" data-bs-target="#sizeChart">Size Chart</span>
                    </div>
                    <ul class="size-list">
                      <li class="active">S</li>
                      <li>M</li>
                      <li>L</li>
                      <li>XL</li>
                    </ul>
                  </div> -->

                  <!-- <div class="option sale-details">
                    <div class="title-box4">
                      <h4 class="heading">Sale End In <span class="bg-theme-blue"></span></h4>
                    </div>
                    <ul class="timer">
                      <li><span class="days time-value"></span> <span class="timer-label">Days</span></li>
                      <li><span class="hours time-value"></span> <span class="timer-label">Hours</span></li>
                      <li><span class="minutes time-value"></span> <span class="timer-label">Minute</span></li>
                      <li><span class="seconds time-value"></span> <span class="timer-label">Seconds</span></li>
                    </ul>
                  </div> -->

                  <div class="btn-group">
                    <a type="button"  class="btn-solid btn-sm addtocart-btn" onclick="addtocart('<%=product._id %>')">Add To Cart </a>
                    <a href="javascript:void(0)" class="btn-outline btn-sm wishlist-btn">Add To Wishlist</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Tabs Start -->
          <div class="description-box">
            <div class="row gy-4">
              <div class="col-12">
                <!-- Tabs Filter Start -->
                <ul class="nav nav-pills nav-tabs2 row-tab" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="pill" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">
                      Description
                    </button>
                  </li>

                  <!-- <li class="nav-item" role="presentation">
                    <button class="nav-link" id="specification-tab" data-bs-toggle="pill" data-bs-target="#specification" type="button" role="tab" aria-controls="specification" aria-selected="false">
                      Specification
                    </button>
                  </li>

                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="seller-tab" data-bs-toggle="pill" data-bs-target="#seller" type="button" role="tab" aria-controls="seller" aria-selected="false">Seller</button>
                  </li>

                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="review-tab" data-bs-toggle="pill" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">
                      Review <span>3</span>
                    </button>
                  </li> -->
                </ul>
                <!-- Tabs Filter End -->
              </div>

              <div class="col-12">
                <!-- Tab Content Start -->
                <div class="tab-content" id="pills-tabContent">
                  <!-- Description Tab Content Start -->
                  <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <div class="details-product">
                      <p>
                        The Model is wearing a white blouse from our stylist's collection, see the image for a mock-up of what the actual blouse would look like.it has text written on it in a black
                        glass is a heady concoction of madness mixed with a hint of wicked along with several bursts of outrageousness and a tingling spiciness of twisted humour bottled up in
                        intriguing grandeur cursive language which looks great on a white color.
                      </p>

                      <!-- <div class="title-box4 mb-3 mt-4">
                        <h4 class="heading mt-0">Comfort: <span class="bg-theme-blue"></span></h4>
                      </div> -->

                      <!-- <p>
                        Glass is a heady concoction of madness mixed with a hint of wicked along with several bursts of wicked along with several bursts outrageousness and a tingling spiciness of
                        twisted humour bottled up in intriguing grandeur
                      </p> -->

                      <!-- <div class="row g-3 g-lg-4 ratio_landscape mb-3">
                        <div class="col-md-4">
                          <div class="frame-wrap">
                            <video class="video-tag" loop="" autoplay="" muted="">
                              <source src="/userAssets/video/clothing.mp4" type="video/mp4">
                              <source src="/userAssets/video/clothing.ogg" type="video/ogg">
                              Your browser does not support the video tag.
                            </video>
                          </div>
                        </div> -->
                        <!-- <div class="col-md-8">
                          <div class="speciation-summery">
                            <ul class="general-summery">
                              <li>
                                <i data-feather="check-circle"></i>
                                <span> Madness mixed with a hint of wicked along</span>
                              </li>
                              <li>
                                <i data-feather="check-circle"></i>
                                <span>Tingling spiciness of twisted humour bottled up in intriguing grandeur</span>
                              </li>
                              <li>
                                <i data-feather="check-circle"></i>
                                <span>Comfortable and stylish all day long.Indigo shirt with western yoke</span>
                              </li>
                              <li>
                                <i data-feather="check-circle"></i>
                                <span>Intriguing grandeur cursive language which looks great on a white color.</span>
                              </li>
                              <li>
                                <i data-feather="check-circle"></i> -->
                           
                  <!-- Review Tab Content End -->
                </div>
                <!-- Tab Content End -->
              </div>
            </div>
          </div>
          <!-- Tabs End -->
        </div>
      </section>
      <!-- Product Section End -->

      <!-- New Arrived Section Start -->
      <section class="pt-0 ratio_asos">
        <div class="container-lg">
          <div class="title-box4">
            <h4 class="heading font-2xl">YOU MAY ALSO LIKE… <span class="bg-theme-blue"></span></h4>
          </div>

          <div class="swiper product-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="img-box">
                    <!-- Thumbnail -->
                    <ul class="thumbnail-img">
                      <li class="active thumb"><img src="/userAssets/images/fashion/product/front/7.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-1.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-2.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-3.jpg" alt="thumbnail"></li>
                    </ul>

                    <a href="product.html" class="primary-img"><img class="img-fluid bg-img" src="/userAssets/images/fashion/product/new-arrived/1.jpg" alt="product"> </a>

                    <!-- Rating -->
                    <div class="rating">
                      <span>4.5 <i data-feather="star"></i> </span>
                      <span>185</span>
                    </div>

                    <!-- Option -->
                    <ul class="option-wrap">
                      <li>
                        <a href="javascript:void(0)" class="wishlist-btn">
                          <i data-feather="heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="compare.html"><i data-feather="repeat"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                          <i data-feather="eye"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="addtocart-btn"> <i data-feather="shopping-bag"></i> </a>
                      </li>
                    </ul>
                  </div>

                  <!-- Content Box -->
                  <div class="content-box">
                    <a href="product.html">
                      <p>Chow Tai Folk</p>
                      <h5>Flannel shirt jacket</h5>
                      <span>$190.00</span> <del>$240.00</del>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="product-card">
                  <div class="img-box">
                    <!-- Thumbnail -->
                    <ul class="thumbnail-img">
                      <li class="active thumb"><img src="/userAssets/images/fashion/product/front/7.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-1.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-2.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-3.jpg" alt="thumbnail"></li>
                    </ul>

                    <a href="product.html" class="primary-img"><img class="img-fluid bg-img" src="/userAssets/images/fashion/product/new-arrived/2.jpg" alt="product"> </a>

                    <!-- Arrow label -->
                    <span class="arrow-label-wrap"> <span class="arrow-label bg-theme-sun"> NEW</span> </span>

                    <!-- Rating -->
                    <div class="rating">
                      <span>4.5 <i data-feather="star"></i> </span>
                      <span>150</span>
                    </div>

                    <!-- Option -->
                    <ul class="option-wrap">
                      <li>
                        <a href="javascript:void(0)" class="wishlist-btn">
                          <i data-feather="heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="compare.html"><i data-feather="repeat"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                          <i data-feather="eye"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="addtocart-btn"> <i data-feather="shopping-bag"></i> </a>
                      </li>
                    </ul>
                  </div>

                  <!-- Content Box -->
                  <div class="content-box">
                    <a href="product.html">
                      <p>Adidas</p>
                      <h5>Go walk joy walking shoes</h5>
                      <span>$90.00</span><del>$150.00</del>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="product-card">
                  <div class="img-box">
                    <!-- Thumbnail -->
                    <ul class="thumbnail-img">
                      <li class="active thumb"><img src="/userAssets/images/fashion/product/front/7.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-1.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-2.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-3.jpg" alt="thumbnail"></li>
                    </ul>

                    <a href="product.html" class="primary-img"><img class="img-fluid bg-img" src="/userAssets/images/fashion/product/new-arrived/3.jpg" alt="product"> </a>

                    <!-- Arrow label -->
                    <span class="arrow-label-wrap"> <span class="arrow-label bg-theme-sun"> NEW</span> </span>

                    <!-- Rating -->
                    <div class="rating">
                      <span>4.5 <i data-feather="star"></i> </span>
                      <span>152</span>
                    </div>

                    <!-- Option -->
                    <ul class="option-wrap">
                      <li>
                        <a href="javascript:void(0)" class="wishlist-btn">
                          <i data-feather="heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="compare.html"><i data-feather="repeat"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                          <i data-feather="eye"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="addtocart-btn"> <i data-feather="shopping-bag"></i> </a>
                      </li>
                    </ul>
                  </div>

                  <!-- Content Box -->
                  <div class="content-box">
                    <a href="product.html">
                      <p>FableStreet</p>
                      <h5>Comfort Loose Fit Trousers</h5>
                      <span>$120.00</span> <del>$140.00</del>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="product-card">
                  <div class="img-box">
                    <!-- Thumbnail -->
                    <ul class="thumbnail-img">
                      <li class="active thumb"><img src="/userAssets/images/fashion/product/front/7.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-1.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-2.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-3.jpg" alt="thumbnail"></li>
                    </ul>

                    <a href="product.html" class="primary-img"><img class="img-fluid bg-img" src="/userAssets/images/fashion/product/new-arrived/4.jpg" alt="product"> </a>

                    <!-- Rating -->
                    <div class="rating">
                      <span>4.3 <i data-feather="star"></i> </span>
                      <span>146</span>
                    </div>

                    <!-- Option -->
                    <ul class="option-wrap">
                      <li>
                        <a href="javascript:void(0)" class="wishlist-btn">
                          <i data-feather="heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="compare.html"><i data-feather="repeat"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                          <i data-feather="eye"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="addtocart-btn"> <i data-feather="shopping-bag"></i> </a>
                      </li>
                    </ul>
                  </div>

                  <!-- Content Box -->
                  <div class="content-box">
                    <a href="product.html">
                      <p>T-Shirts</p>
                      <h5>Crew Neck T-shirt</h5>
                      <span>$120.00</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="product-card">
                  <div class="img-box">
                    <!-- Thumbnail -->
                    <ul class="thumbnail-img">
                      <li class="active thumb"><img src="/userAssets/images/fashion/product/front/7.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-1.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-2.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-3.jpg" alt="thumbnail"></li>
                    </ul>

                    <a href="product.html" class="primary-img"><img class="img-fluid bg-img" src="/userAssets/images/fashion/product/new-arrived/5.jpg" alt="product"> </a>

                    <!-- Arrow label -->
                    <span class="arrow-label-wrap"> <span class="arrow-label bg-theme-sun"> NEW</span> </span>

                    <!-- Rating -->
                    <div class="rating">
                      <span>4.4 <i data-feather="star"></i> </span>
                      <span>90</span>
                    </div>

                    <!-- Option -->
                    <ul class="option-wrap">
                      <li>
                        <a href="javascript:void(0)" class="wishlist-btn">
                          <i data-feather="heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="compare.html"><i data-feather="repeat"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                          <i data-feather="eye"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="addtocart-btn"> <i data-feather="shopping-bag"></i> </a>
                      </li>
                    </ul>
                  </div>

                  <!-- Content Box -->
                  <div class="content-box">
                    <a href="product.html">
                      <p>Cartier</p>
                      <h5>Ecosmart hooded sweatshirt</h5>
                      <span>$220.00</span> <del>$230.00</del>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="product-card">
                  <div class="img-box">
                    <!-- Thumbnail -->
                    <ul class="thumbnail-img">
                      <li class="active thumb"><img src="/userAssets/images/fashion/product/front/7.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-1.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-2.jpg" alt="thumbnail"></li>
                      <li class="thumb"><img src="/userAssets/images/fashion/product/front/7-3.jpg" alt="thumbnail"></li>
                    </ul>

                    <a href="product.html" class="primary-img"><img class="img-fluid bg-img" src="/userAssets/images/fashion/product/new-arrived/3.jpg" alt="product"> </a>

                    <!-- Arrow label -->
                    <span class="arrow-label-wrap"> <span class="arrow-label bg-theme-sun"> NEW</span> </span>

                    <!-- Rating -->
                    <div class="rating">
                      <span>4.5 <i data-feather="star"></i> </span>
                      <span>152</span>
                    </div>

                    <!-- Option -->
                    <ul class="option-wrap">
                      <li>
                        <a href="javascript:void(0)" class="wishlist-btn">
                          <i data-feather="heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="compare.html"><i data-feather="repeat"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                          <i data-feather="eye"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="addtocart-btn"> <i data-feather="shopping-bag"></i> </a>
                      </li>
                    </ul>
                  </div>

                  <!-- Content Box -->
                  <div class="content-box">
                    <a href="product.html">
                      <p>FableStreet</p>
                      <h5>Comfort Loose Fit Trousers</h5>
                      <span>$120.00</span> <del>$140.00</del>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- New Arrived Section End -->
    </main>
    <!-- Main End -->
<script>
  function addtocart(productid){
     $.ajax({
         url:"/addtocart",
         method:"post",
         data:{
             id:productid
         },
         success:(response)=>{
             if(response.success){
                 swal.fire({

                     positon:'center',
                     icon:"success",
                     title  : 'product added to cart',
                     showConfirmButton:false,
                     timer : 1500,

                 })
                //  location.reload();
             }else{
                swal.fire({

                positon:'center',
                icon:"warning",
                title  : 'product Quantity exceeded',
                showConfirmButton:false,
                timer : 1500,

})
             }
         }
         
     })
    }
</script>


    

    <%- include('../layout/userLayouts/footer.ejs') %>
