<%- include('../layout/adminLayouts/header.ejs') %>
<%- include('../layout/adminLayouts/sideBar.ejs') %>

            

            <div class="page-body">
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Add Products
                                        <small>KeVoC Admin panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item">
                                        
                                    </li>
                                    <li class="breadcrumb-item">Physical</li>
                                    <li class="breadcrumb-item active">Add Product</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row product-adding">




                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                            <h4 class="card-title">Product List</h4><a type="button" class="btn btn-outline-success" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#addProduct">
                                                ADD PRODUCT
                                              </a>
                                            </div>
                                            <div class="table-responsive">
                                              <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    <th>No</th>
                                                    <th>Image</th>
                                                    <th>Product Name</th>
                                                    <th>Price</th>
                                                    <th>Offer</th>
                                                    <th>Brand</th>
                                                    <th>Category</th>
                                                    <th>Stock</th>
                                                    <th>Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(products.length > 0){ %>
                                                       <% products.forEach((product,i)=>{ %>

                                                       
                                                    <tr>
                                                        <td><%= i+1  %></td>
                                                        <td>
                                                            <img style="width: 100px; height: 100px;" src="/adminAssets/adminImages/<%= product.image[0] %>" alt="image" />

                                                        </td>
                                                        <td><%=product.product_title  %></td>
                                                        <td><%=product.product_price  %></td>
                                                        <td>off</td>
                                                        <td>brabd</td>

                                                        <td><%=product.category.category_name  %></td>

                                                        

                                                        <td><%=product.StockQuantity  %>
                                                        </td>

                                                        <td>
                                                            <% if (product.is_delete == false){
                                                              %>
                                                            <a class="btn btn-success" href="/admin/deletecategory/<%= product._id%>">Delete</a>
                                                            <% }else{%>
                                                             <a class="btn btn-danger" href="/admin/unducategory/<%= product._id %>">Undu</a>
                                                           
            
                                                            <%}%>
                                                        <td><a class="btn btn-success" href="/admin/editProduct/<%= product._id%>">Edit</a></td>
                                                      
                                                    </tr>
                                                <% }) %>
                                               <%  } %>
                                                    </tbody>
                                                    </table>
                                                    </div>
                                                    </div>


                                            
                                        
                                     <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                 <h4 class="modal-title fs-5" id="exampleModalLabel">ADD PRODUCT</h4>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                            
                                                    
                                            <div class="col-lg-12">
                                            <form action="/admin/addProduct" class="needs-validation add-product-form" novalidate="" method="post" enctype="multipart/form-data">
                                                <div class="form">
                                                    <div class="form-group mb-3 row">
                                                        <label for="validationCustom01"
                                                            class="col-xl-3 col-sm-4 mb-0">Title :</label>
                                                        <div class="col-xl-8 col-sm-7">
                                                            <input class="form-control" id="validationCustom01"
                                                                type="text" required name="product_title">
                                                        </div>
                                                        <div class="valid-feedback">Looks good!</div>
                                                    </div>
                                                    <div class="form-group mb-3 row">
                                                        <label for="validationCustom02"
                                                            class="col-xl-3 col-sm-4 mb-0">Price :</label>
                                                        <div class="col-xl-8 col-sm-7">
                                                            <input class="form-control" id="validationCustom02"
                                                                type="text" required name="product_price">
                                                        </div>
                                                        <div class="valid-feedback">Looks good!</div>
                                                    </div>
                                                    <div class="form-group mb-3 row">
                                                        <label for="validationCustomUsername"
                                                            class="col-xl-3 col-sm-4 mb-0">Description:</label>
                                                        <div class="col-xl-8 col-sm-7">
                                                            <input class="form-control" id="validationCustomUsername"
                                                                type="text" required name="description">
                                                        </div>
                                                        <div class="invalid-feedback offset-sm-4 offset-xl-3">Please
                                                            choose Valid Code.</div>
                                                    </div>
                                                </div>
                                                <div class="form">
                                                    <div class="form-group row">
                                                        <label for="exampleFormControlSelect1"
                                                            class="col-xl-3 col-sm-4 mb-0">Size :</label>
                                                        <div class="col-xl-8 col-sm-7">
                                                            <select class="form-control digits"
                                                                id="exampleFormControlSelect1" name="product_size">
                                                                <option>Small</option>
                                                                <option>Medium</option>
                                                                <option>Large</option>
                                                                <option>Extra Large</option>
                                                            </select>
                                                        </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="exampleFormControlSelect1"
                                                                class="col-xl-3 col-sm-4 mb-0">category :</label>

                                                        <div class="col-xl-8 col-sm-7">
                                                            <select class="form-control digits"id="exampleFormControlSelect1" name="Category">

                                                               <%  category.forEach((cat)=>{ %>
                                                                     
                                                                <option value="<%= cat._id  %>"><%= cat.category_name  %></option>
                                                               <% })%>
                                                               
                                                             
                                                             
                                                            </select>
                                                        </div>
                                                        </div>
                                                    
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-sm-4 mb-0">Quantity  :</label>
                                                        <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7">
                                                            <div class="input-group">
                                                                <input class="touchspin" type="text" value="1" name="StockQuantity">
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <!-- <div class="form-group row">
                                                        <label class="col-xl-3 col-sm-4">Add image :</label>
                                                        <div class="col-xl-8 col-sm-7 description-sm">
                                                            <textarea id="editor1" name="editor1" cols="10"
                                                                rows="4"></textarea>
                                                        </div>
                                                        <div class="offset-xl-3 offset-sm-4 mt-4">
                                                            <button type="submit" class="btn btn-primary">Add</button>
                                                            
                                                        </div>
                                                    </div> -->



                                                    <div class="form-group">
                                                             <label class="col-sm-3 col-form-label" >Image upload</label> 
                                                        <div class="col-sm-12">
                                                         <input class="form-control" style="height: 40;width: 228px ; background-color: gray;color: white;" accept="Image/*" type="file" name="image"  multiple>
                                                         
                                                         </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">submit</button>
                                                </div>
                                            </form>
                                        </div>

                                        


                                                </div>
                                              </div>
                                            </div>
                                            </div>





                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>

            <%- include('../layout/adminLayouts/footer.ejs') %>