<%- include('../layout/adminLayouts/header.ejs') %>
<%- include('../layout/adminLayouts/sideBar.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>List Coupons
                            <small>KeVoC Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="/admin/home">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Coupons</li>
                        <li class="breadcrumb-item active">List Coupons</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <form class="form-inline search-form search-box">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" placeholder="Search..">
                            </div>
                        </form>

                        <a href="/admin/createCoupen" class="btn btn-primary mt-md-0 mt-2">Add New Coupon</a>
                    </div>

                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-desi">
                                <table class="all-package coupon-table table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Code</th>
                                            <th>Discount</th>
                                            <th>Start Date</th>
                                            <th>Expiry Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(coupons.length > 0){ 
                                            coupons.forEach((coupon) => { %>
                                        <tr data-row-id="1">
                                            <td><%= coupon.couponName %></td>

                                            <td><%= coupon.couponCode %></td>

                                            <td><%= coupon.discountPercentage %> %</td>

                                            <td><%= coupon.startDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %> </td>

                                            <td><%= coupon.expiryDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %> </td>

                                            <td class="d-flex flex-column">
                                            <button type="button" class="btn btn-outline-primary "  data-bs-toggle="modal" data-bs-target="#editCouponModal-<%= coupon._id %>">EDIT</button>

                                            <div class="modal fade" id="editCouponModal-<%= coupon._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">EDIT COUPON</h5>
                                  
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/editCoupon/<%= coupon._id %>" method="post" class="forms-sample">
                                        <div class="form-group">
                                          <label for="exampleInputUsername1">Coupon Name</label>
                                          <input type="text" class="form-control"  value="<%= coupon.couponName %>" name="couponName">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">Coupon Code</label>
                                          <input type="text" class="form-control"  value="<%= coupon.couponCode %>" name="couponCode">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1">Discount Percentage</label>
                                          <input type="text" class="form-control"  value="<%= coupon.discountPercentage %>" name="discountPercentage">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1">Criteria</label>
                                          <input type="text" class="form-control"  value="<%= coupon.criteria %>" name="criteria">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputConfirmPassword1">Start Date</label>
                                          <input type="date" class="form-control" value="<%= coupon.startDate.toISOString().split('T')[0]%>" name="startDate" >
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputConfirmPassword1">Expiry Date</label>
                                          <input type="date" class="form-control" value="<%= coupon.expiryDate.toISOString().split('T')[0] %>" name="expDate">
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                      </form>
                                </div>
                                
                              </div>
                            </div>
                          </div> 

                                 <br>
                                 <a onclick="deleteCoupon('<%= coupon._id %>')" type="button" class="btn btn-outline-danger">DELETE</a></td>
                                 </tr>

                                        <%  }) %>                        
                                         <% }else{ %>
                                            <h4 class="d-flex justify-content-center my-5 text-danger">NO COUPONS AVAILABLE</h4>

                                            <% }%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
<script>

function deleteCoupon(id) {
Swal.fire({
    title: 'Are you sure?',
    text: "You want to Delete Coupon !",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete!'
}).then((result) => {
    if (result.isConfirmed) {
        $.ajax({
            url: "/admin/deleteCoupon",
            data: {
                id: id
            },
            method: 'post',
            success: (response) => {
                location.reload();
            },
            error: (error) => {
                Swal.fire({
                    title: 'Error!',
                    text: 'An error occurred while deleting the item.',
                    icon: 'error',
                    showConfirmButton: false
                });
            }
        });
    }
});
}



</script>












<%- include('../layout/adminLayouts/footer.ejs') %>
