<%- include('../layout/adminLayouts/header.ejs') %>
<%- include('../layout/adminLayouts/sideBar.ejs') %>
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="needs-validation add-product-form" novalidate="" method="post"
                        enctype="multipart/form-data">
                        <div class="form">
                            <div class="form-group mb-3 row">
                                <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Title :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <input class="form-control" id="validationCustom01" type="text" required
                                        name="product_title" value="<%= product.product_title  %>">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Price :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <input class="form-control" id="validationCustom02" type="text" required
                                        name="product_price" value="<%= product.product_price  %>">
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Offer Amount:</label>
                                <div class="col-xl-8 col-sm-7">
                                    <select class="form-control digits" id="exampleFormControlSelect1" name="offer">
                                        <option value="">No Offer</option>
                                        <% offer.forEach((off) => { %>
                                            <option value="<%= off._id %>" <%= product.offer && product.offer._id.toString() === off._id.toString() ? 'selected' : '' %>><%= off.offerName %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label for="validationCustomUsername" class="col-xl-3 col-sm-4 mb-0">Description:</label>
                                <div class="col-xl-8 col-sm-7">
                                    <input class="form-control" id="validationCustomUsername" type="text"
                                        required name="description" value="<%= product.description  %>">
                                </div>
                                <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid Code.</div>
                            </div>
                        </div>
                        <div class="form">
                            <div class="form-group row">
                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Size :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <select class="form-control digits" id="exampleFormControlSelect1"
                                        name="product_size">
                                        <option>Small</option>
                                        <option>Medium</option>
                                        <option>Large</option>
                                        <option>Extra Large</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">category
                                    :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <select class="form-control digits" id="exampleFormControlSelect1"
                                        name="Category">
                                        <% category.forEach((cat)=>{ %>
                                            <option value="<%= cat._id  %>">
                                                <%= cat.category_name %>
                                            </option>
                                        <% })%>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-sm-4 mb-0">Quantity :</label>
                                <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7">
                                    <div class="input-group">
                                        <input class="touchspin" type="text" value="<%= product.StockQuantity  %>"
                                            name="StockQuantity">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-form-label">Image upload</label>
                                <div class="input-group col-xs-12">
                                    <% product.image.forEach((x,index)=> { %>
                                        <img src="/adminAssets/adminImages/<%= x %>" alt="" width="100px"
                                            height="100px" class="mb-2">
                                    <% }) %>
                                </div>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Edit Image
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image editing modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image Editing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/editProduct/updateimage/<%= product._id %>" class="needs-validation add-product-form" novalidate=""
                method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input multiple type="file" class="form-control" id="imageValidate" name="image" />
                    <p class="text-danger" id="imageError"></p>
                    <br>
                    <% product.image.forEach((x,index)=> { %>
                        <img class="mb-3" src="/adminAssets/adminImages/<%= x %>" alt="" width="100px" height="100px">
                        <a type="button" class="btn btn-danger mb-4" 
                            href="/admin/deleteimg/<%= x %>/<%= product._id %>">
                            Delete
                        </a>
                        <br>
                    <% }); %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../layout/adminLayouts/footer.ejs') %>
